* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.main {
    background-color: #b8e2f5b8;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

input {
    padding: 5px;
    font-size: 19px;
}

button {
    cursor: pointer;
    padding: 5px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}